$bg-light: #eee

body.admin-bar
  #masthead
    .fixed-top
      margin-top: 32px

.active
  box-shadow: 0 2px #000
.bg-white
  background-color: #fff

.navbar
  border-bottom: 1px solid black
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
.site-footer


  background-color: $bg-light
  #secondary
    display: flex
    > section
      padding: 1em
.custom-logo
  width: 100px
  height: auto
.text-transparent
  color: transparent
